<div class="container-fluid mt-5 mb-5" style="background-color: white;">
    <div class="col-md-8 m-auto text-center p-3">
        <h1> ABOUT ME</h1>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            I'm just an ordinary guy who has always enjoyed video editing. Since 2020, I have been creating unique
            edits for various games and more. Gradually, the need for the effects I used in my projects grew, and many
            people expressed a desire to have access to these effects.
        </p>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            With this in mind, I created FayniyProduction, a place where everyone interested can get access to high-quality
            overlays, breathtaking 3D assemblies, and unrivaled visual and sound effects. My site is designed to make your
            creative projects even more exciting and professional.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            Here you will find a wide range of products that will enhance your projects: from effects to add emotional depth
            to 3D assemblies that will turn your projects into something incredibly impressive. And as the best indicator
            of my commitment to your experience, I'm proud to offer these elements at very affordable prices.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            Join FayniyProduction and add new levels of creativity and professionalism to your videos.
            I will help you make every edit beautiful and unique.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            Thank you for choosing FayniyProduction for your creative journey.
        </p>
    </div>
</div>
