<div class="container-fluid mt-5 mb-5" style="background-color: white;">
    <div class="col-md-8 m-auto text-center p-3">
        <h1> PRIVACY POLICY</h1>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus proin nibh nisl condimentum. Massa ultricies mi quis hendrerit dolor magna eget est. Ullamcorper eget nulla facilisi etiam. Egestas dui id ornare arcu odio ut. Nisl vel pretium lectus quam id leo. Mattis rhoncus urna neque viverra justo nec ultrices. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Eu volutpat odio facilisis mauris sit amet massa vitae. Id consectetur purus ut faucibus pulvinar elementum. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Risus viverra adipiscing at in. Sit amet venenatis urna cursus eget nunc scelerisque. Leo vel orci porta non pulvinar neque. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Enim sit amet venenatis urna.
        </p>

        <p align="justify" style="font-size: 1.3rem;">
            Ut etiam sit amet nisl purus in mollis nunc sed. Erat nam at lectus urna duis convallis convallis. Lobortis mattis aliquam faucibus purus in massa tempor. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Sed euismod nisi porta lorem. Mollis aliquam ut porttitor leo a. Placerat duis ultricies lacus sed turpis. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Venenatis cras sed felis eget. Iaculis at erat pellentesque adipiscing commodo. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Varius duis at consectetur lorem donec. Feugiat nibh sed pulvinar proin.
        </p>
    </div>
</div>