<div class="container-fluid mt-5 mb-5" style="background-color: white;">
    <div class="col-md-8 m-auto text-center p-3">
        <h1> REFUND POLICY</h1>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            Thank you for choosing Fayniy Production! This Returns/Refunds Policy explains the procedures
            and conditions related to the return of purchased goods or receipt of a refund under our services.
            Your interaction with our services is subject to this Policy.
        </p>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            <strong>Refusal of a refund</strong><br>
            Please note that we do not provide the possibility of returning goods or refunds for purchased
            editing effects. All sales are final. This policy is immediately effective from the date of purchase.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            <strong>Disclaimer of liability</strong><br>
            We undertake to provide effects for editing in accordance with the description and specifications
            provided on the website. However, we are not responsible for unsatisfactory performance or compatibility
            with your software.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            <strong>Changes to the Returns/Refunds Policy</strong><br>
            We may update this Policy from time to time. Please check this document from time to time to be aware
            of any changes. By continuing to use our services after the changes are made, you agree to be bound
            by the new Policy.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            This Returns/Refunds Policy is an important legal document that governs your interaction with our services.
            If you have any questions, please contact us using the contact information provided on the website.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            Thank you for choosing our services!
        </p>
    </div>
</div>
