<div class="container-fluid mt-5 mb-5" style="background-color: white;">
    <div class="col-md-8 m-auto text-center p-3">
        <h1> TERMS OF SERVICE</h1>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            Welcome to the FayniyProduction website! Before selecting and using any effects
            for editing from our site, please read these Terms of Service (the "Terms") carefully.
            Your access to and use of our website and its services is subject to these Terms.
            If you do not agree with the terms of this document, you should immediately stop using the site.
        </p>
    </div>
    <div class="col-md-6 m-auto text-center">
        <p align="justify" style="font-size: 1.3rem;">
            <strong>1. Acceptance of the Terms</strong><br>
            Your access to and use of our services constitutes your full acceptance of these Terms.
            If you do not agree with any of the terms or provisions of this document,
            please do not use our website.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            <strong>2. License for effects</strong><br>
            You may purchase and use the editing effects available on our website in accordance
            with the terms of the license agreement provided with each effect. This is an exclusive
            license to use and all copyrights remain with the owner of the effect.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            <strong>3. Payment and disclaimer</strong><br>
            Prices for effects are listed on our website and are subject to change without notice.
            We make every effort to provide accurate and up-to-date information, but are not responsible
            for any inaccuracies or errors.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            <strong>4. Disclaimer</strong><br>
            We are not responsible for any loss, damage, costs or other consequences that may arise
            from the use of our effects. You use our services at your own risk.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            <strong>5. Changes to the Terms</strong><br>
            We may update or change these Terms at any time. You should review this document periodically
            to be aware of any changes. By continuing to use our website after the changes are made,
            you agree to be bound by the new Terms.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            These Terms are a legal document that governs your use of our services. Please pay due attention
            to this document and abide by its provisions. If you have any questions, please contact us using
            the contact information provided on the website.
        </p>
        <p align="justify" style="font-size: 1.3rem;">
            Thank you for using our services!
        </p>
    </div>
</div>
