@model CoursesStore.Models.Course

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #161a1e;
    }
</style>

<div class="card border-0" style="background-color: #161a1e">
    <video id="videoPlayer" src="~/Graphics/Course/@Model.Name/MainVideo.mp4" muted loop autoplay class="card-img" style="max-height: 44vw; object-fit: cover;"></video>
    <div class="card-img-overlay h-75 text-light container d-flex flex-column justify-content-center video-items-div">
        <h1 class="fw-bold pt-5 display-6 text-center BLOCKBUSTER-EFFECTS-tag">@Model.Name.ToUpper() PROJECT EFFECTS PACK<br>FOR FILMMAKERS</h1>
    </div>
</div>

<div class="row" style="margin: 10% 0% 10% 0%; color: #e2e3ea">
    <div class="m-auto w-50 p-1">
        <div class="">
            <div class="row g-0">
                <div class="col-md-7 text-center d-flex align-items-center justify-content-center">
                    <video src="~/Graphics/Course/@Model.Name/CardVideo.mp4" muted loop autoplay class="card-img" style="width: 100%;"></video>
                </div>
                <div class="col-md-5">
                    <div class="card-body" style="margin-left: 5%;">
                        <h1 class="card-text">Swipe pack</h1>
                        <h2>99.00$</h2>
                        <a class="btn btn-outline-danger btn-lg w-50" href="#" role="button" style="margin-bottom: 5%;"> Buy</a>
                        <p class="card-text"><b>Description: </b>A set of visual effects from the swipe project.</p>
                        <p class="card-text"><b>Effects Count: </b>50</p>
                        <p class="card-text">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="color: #e2e3ea">
    <div class="container-fluid text-center m-auto p-3">
        <h1>@Model.Name.ToUpper() EFFECTS EXAMPLES</h1>
    </div>
    <div class="row g-0 text-center m-auto p-5">
        <div class="col-md-5 text-center m-auto">
            <h3>Before</h3>
            <img src="~/Graphics/Course/@Model.Name/BeforeExampleImage.png" class="img-fluid" alt="Name" />
        </div>
        <div class="col-md-1 text-center m-auto">
            <img src="~/Graphics/Design/right arrow white.png" class="img-fluid" width="50%" alt=">>>"/>
        </div>
        <div class="col-md-5 text-center m-auto">
            <h3>After</h3>
            <img src="~/Graphics/Course/@Model.Name/AfterExampleImage.png" class="img-fluid" alt="Name" />
        </div>
    </div>
</div>



@*<script>
    const video = document.getElementById('videoPlayer');
    const playButton = document.getElementById('playButton');
    const pauseButton = document.getElementById('pauseButton');

    playButton.addEventListener('click', function () {
        video.play();
        playButton.style.display = 'none';
        pauseButton.style.display = 'inline';
    });

    pauseButton.addEventListener('click', function () {
        video.pause();
        pauseButton.style.display = 'none';
        playButton.style.display = 'inline';
    });
</script>*@

