@model CoursesStore.Models.Course

@{
    ViewData["Title"] = "Edit";
}


<div class="row container-fluid">
    <div class="col-md-5">
        <h1>Edit</h1>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EffectCount" class="control-label"></label>
                <input asp-for="EffectCount" class="form-control" />
                <span asp-validation-for="EffectCount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Preview Image</label>
                <input type="file" asp-for="PreviewImage" accept=".jpg, .jpeg, .png" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Main Video</label>
                <input type="file" asp-for="MainVideo" accept=".mp4" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Card Video</label>
                <input type="file" asp-for="CardVideo" accept=".mp4" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Before Example Image</label>
                <input type="file" asp-for="BeforeExampleImage" accept=".jpg, .jpeg, .png" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">After Example Image</label>
                <input type="file" asp-for="AfterExampleImage" accept=".jpg, .jpeg, .png" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
