@model IEnumerable<CoursesStore.Models.Course>


@{
    ViewData["Title"] = "List of Courses";
}

<body style="">
   
    <div class="card text-bg-dark border-0">
        <video src="~/Graphics/Design/videoplayback.mp4" muted autoplay loop class="card-img rounded-0"></video>
        <div class="card-img-overlay h-75 text-light container m-auto d-flex flex-column justify-content-between">
            <h1 class="fw-bold display-4 pt-5 text-center">BLOCKBUSTER EFFECTS<br>FOR FILMMAKERS</h1>
            <div class="buttons d-flex justify-content-center">
                <a class="btn btn-outline-light btn-lg" href="#" role="button"> Learn More</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-5">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm card-hover">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-dark">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                            @item.Name
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a class="text-white float-right" asp-action="Edit" asp-route-id="Id"><i class="bi bi-pencil-square"></i></a>
                                            }
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            @*<div class="col-md-6" style="margin: auto; width: 50%; padding: 10px; background-color: red; background-image: url('../css/Image/Course.png'); background-repeat: no-repeat; background-size: cover;">
                                <img src="~/css/Image/Course.png" class="img-fluid" alt="Name">
                            </div>*@
                            @*<div class="col-md-6 card-hover-body" style="margin: auto; width: 50%; padding: 10px;">
                                <img src="~/css/Image/Project_WITCHBLADES.png" class="img-fluid" alt="Name">
                            </div>*@
                            @*<img src="https://files.fm/thumb_show.php?i=74pcsnt3t" class="img-fluid" alt="Name">*@
                            @{
                                string imageName = item.Name.Replace(" ", "_");
                            }
                            <img src="~/Graphics/Course/@(imageName).png" class="img-fluid" alt="Name">
                            <div class="col-md-12">
                                <div class="card-footer">
                                    <p class="card-text">
                                        <a class="btn btn-outline-primary float-right" asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">
                                            <i class="bi bi-eye-fill"></i> Show Details
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

