@model CoursesStore.Models.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

<div class="text-center col login-div">
    <form method="post" asp-controller="Account" asp-action="Register" clsdd="form-signin" class="login_form">
        <h1 style="display: inline">@ViewData["Title"]</h1>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" placeholder="name" />
            <label asp-for="Name" class="form-label">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3" style="position: relative;">
            <i class="bi bi-eye-slash" id="togglePassword" style="position: absolute; right: 15px; top:33%; cursor: pointer;"></i>
            <input asp-for="Password" id="password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Password" class="form-label">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <button id="register-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign up</button>
        </div>
    </form>
</div>


<script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });
    </script>