html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {

}

.order-btn {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 15px 50px 15px 50px;
}

.order-div {
    width: 100vw;
    padding: 200px;
    text-align: center;
    margin-bottom: 5%;
}

.index_footer {
    background-color: white;
    padding-bottom: 70px;
}

.logo {
    max-width: 75px;
    margin: -15px;
    margin-left: 5px;
}

.user_info{
    max-width: 45px;
}

.right_buttons_div{
    margin-left: auto;
    margin-right: 1%;
}

.card-hover-body {
    overflow: hidden;
}

.image-container {
    overflow: hidden; /* ����������� �������� ��� ������������ ����� ������� ���������� */
    transition: all 0.15s linear;
}

.image-container img {
    transition: all 0.15s linear;
}

.card-hover:hover .image-container img {
    transform: scale(1.1);
}


.header-main-div{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.login-div {
    padding: 30px;
    max-width: 500px;
    margin: auto;
}

.login_form {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid lightgrey;
}

.BLOCKBUSTER-EFFECTS-tag {
    padding: 0px;
}

.video-items-div {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .BLOCKBUSTER-EFFECTS-tag {
        padding: 50px;
        font-size: 50px;
    }
    .video-items-div{
        margin-bottom: 0px;
    }
}

.play-pause-button:hover {
    transform: scale(1.2);
}

.accordion-item {
    /* ���� ���� ��� ��������� */
    background-color: #171a1e;
}

.accordion-button {
    background-color: #171a1e;
    color: #e2e3ea;
}

.accordion-collapse {
    background-color: #171a1e;
    color: #e2e3ea;
}

.buy-img {
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    margin: auto;
}

.buy-img-div {
    margin: auto;
}

.buy-product-info-div {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #222529;
    color: #e2e3ea;
}

.arrow-img {
    width: 20%;
    margin: 5% 0% 5% 0%;
}

/* Before & After Slider */
#before-after-slider {
    width:100%;
    position:relative;
    overflow:hidden;
    border:3px solid white;
  }
  #before-after-slider img {
    width:100%;
  display:block;
  }
  
  #after-image {
    display:block
  }
  
  #before-image {
    position:absolute;
    height:100%;
    width:50%;
    top:0;
    left:0;
    overflow:hidden;
    z-index:2;
  }
  
  #resizer {
    position:absolute;
    display:flex;
    align-items:center;
    z-index:5;
    top:0;
    left:50%;
    height:100%;
    width:4px;
    background:white;
    /*Stop vertical scrolling on touch*/
    -ms-touch-action: pan-y;
      touch-action: pan-y;

      cursor: pointer;
  }
  
  #resizer:after {
    background:linear-gradient(62deg,#c93072 5%,#3365c0);
    font-family: bootstrap-icons !important;
    content:'\F6A2';
    font-weight:900;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    position:absolute;
    margin: 0 0 0 -18px;
    width:40px;
    height:40px;
    border-radius:50%;
    border:3px solid white;
  
  }
/* end Before & After Slider */

@media (min-width: 768px) {
    .arrow-img {
        width: 50%;
    }
}

@media (max-width: 991px) {
    .custom-header {
        padding: 0 10.5px;
    }
}