html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {

}

.order-btn {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 15px 50px 15px 50px;
}

.order-div {
    width: 100vw;
    padding: 200px;
    text-align: center;
    margin-bottom: 5%;
}

.index_footer {
    background-color: white;
    padding-bottom: 70px;
}

.logo {
    max-width: 75px;
    margin: -15px;
    margin-left: 5px;
}

.user_info{
    max-width: 45px;
}

.right_buttons_div{
    margin-left: auto;
    margin-right: 1%;
}

.card-hover-body {
    overflow: hidden;
}

.image-container {
    overflow: hidden; /* Застосовуємо обрізання для приховування зайвої частини зображення */
    transition: all 0.15s linear;
}

.image-container img {
    transition: all 0.15s linear;
}

.card-hover:hover .image-container img {
    transform: scale(1.1);
}


.header-main-div{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.login-div {
    padding: 30px;
    max-width: 500px;
    margin: auto;
}

.login_form {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid lightgrey;
}

.BLOCKBUSTER-EFFECTS-tag {
    padding: 0px;
}

.video-items-div {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .BLOCKBUSTER-EFFECTS-tag {
        padding: 50px;
        font-size: 50px;
    }
    .video-items-div{
        margin-bottom: 0px;
    }
}

.play-pause-button:hover {
    transform: scale(1.2);
}

.accordion-item {
    /* Стилі фону для акордеону */
    background-color: #171a1e;
}

.accordion-button {
    background-color: #171a1e;
    color: #e2e3ea;
}

.accordion-collapse {
    background-color: #171a1e;
    color: #e2e3ea;
}


