html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {

}

.order-btn {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 15px 50px 15px 50px;
}

.order-div {
    width: 100vw;
    padding: 200px;
    text-align: center;
    margin-bottom: 5%;
}

.index_footer {
    background-color: lightgrey;
    padding-bottom: 70px;
}

.logo {
    max-width: 90px;
    margin: -10px;
    margin-left: 5px;
}

.video-banner {
    width: 100%;
}

.card-hover-body {
  overflow: hidden;
}
.card-hover-body img {
  transition: all 0.15s linear;
}
.card-hover:hover .card-hover-body img {
  scale: 1.05;
}